#scene-container {
    width: 100%;
    height: 90%;
    margin: 0;
    display: block;
    overflow: hidden;
}

.button {
    position: absolute;
    top: calc(50% - 5vh);
    width: fit-content;
    font-size: 16px;
    z-index: 10;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
}

#scene-mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../src/assets/tape/mask.png");
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
    opacity: 0.4;
}

#scene-container {
    position: relative;
    backdrop-filter: blur(5px);
    /* 模糊背景 */
    z-index: -1;
}

#head-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

#bottom-frame {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
}

#tape-selector{
    position: absolute;
    width: 60px;
    height: 60px;
    left: calc(50% - 30px);
    top: 10vh;
    transform: rotate(90deg);
}

#tape-description {
    position: absolute;
    width: 100%;
    top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    font-weight: 800;
    color: #080808;
}

#tape-description p{
    margin: 0;
}

#tape-title {
    position: absolute;
    top: 42%;
    right: -9%;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: 900;
    color: #dbcdc0;
}

#tape-title p{
    margin: 0;
}

#info-box{
    position: fixed;
    /* 长宽比 为 541：150 */
    width: 270px;
    height: 75px;
    right: 0.5vw;
    top: 1vh;
    background-image: url("./src/assets/info-box.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}
