@import url(../sober-theme.css);

@font-face {
  font-family: "Impact";
  src: url(./fonts/zzz-eng.TTF) format("truetype");
  font-weight: normal
}

@font-face {
  font-family: "hongmengti";
  src: url(./fonts/zzz-chs.ttf) format("truetype");
  font-weight: bold
}

.font-num {
  font-family: Impact, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif;
  font-weight: 100;
}

.font-hongmeng {
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif;
  font-weight: 1000;
  font-size: 0.93em;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

p {
  height: fit-content;
  width: fit-content;
  margin: 0;
  line-height: 1.4;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--s-color-outline-variant, #c1c7ce);
  border-radius: 3px;
  transform: translateX(-10px);

}

html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

:not(:defined) {
  display: none;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  height: 100%;
  background-image: url(./src/assets/background.png);
  background-size: cover;
}


/* -=================================================== */
.OO-box {
  border-radius: 20px;
  border: 3px solid var(--s-color-outline-variant);
  background-color: var(--s-color-surface-container);
  backdrop-filter: blur(5px);
  padding: 10px;
}

.OO-button-box {
  align-items: center;
  align-content: center;
  margin: 10px 0;
  width: calc(100% - 40px);
  height: 50px;
  position: relative;
  background-color: var(--s-color-surface-container-low);
  color: var(--s-color-on-surface);
  border-radius: 28px;
  padding: 0 20px;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2);
}

.OO-center-bg{
  /* 背景图垂直、水平均居中 */
  background-position: center center;
  /* 背景图不平铺 */
  background-repeat: no-repeat;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  /* background-attachment: fixed; */
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
}

/* -=========================setting-bar */

.OO-setting-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 10px 0;
  width: calc(100% - 40px);
  height: 50px;
  position: relative;
  background-color: var(--s-color-surface-container-low);
  color: var(--s-color-on-surface);
  border-radius: 28px;
  padding: 0 20px;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  text-overflow: ellipsis;
}

.OO-setting-bar h3 {
  margin: 0;
  line-height: 1;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  padding:4px 0 5px 0
}

.OO-setting-bar s-text-field {
  position: absolute;
  --text-field-border-radius: 24px;
  --text-field-padding: 24px;
  --border-radius: 24px;
  border-radius: 24px;
  background-color: var(--s-color-background);

  box-shadow: inset 2px 2px 10px var(--s-color-surface-container-high);
  --field-border-width: 2px;
  --field-border-color: var(--s-color-outline-variant);
  right: 5px;
  height: calc(100% - 10px);
  min-height: 0px;
  min-width: 155px;
  width: calc(30% + 5px);
  max-width: 305px;

  display: flex;
  flex-direction: column;
}

.OO-setting-bar input[type='radio'] {
  display: none;
}

.OO-setting-bar input[type='radio']:checked+label>s-chip {
  background-color: var(--s-color-primary);
  color: var(--s-color-on-primary);
}

.OO-setting-bar s-switch {
  position: absolute;
  right: 10px;
  width: 50px;
  height: calc(100% - 20px);
  min-height: 0px;
}

.OO-setting-bar s-button {
  position: absolute;
  right: 10px;
  min-width: 58px;
  height: calc(100% - 20px);
  min-height: 0px;
  font-size: 0.97em;
  font-weight: 500;
  min-width: 150px;
  width: 30%;
  max-width: 300px;
}

.OO-setting-bar s-picker{
  position: absolute;
  color: var(--s-color-on-surface);
  --border-radius: 24px;
  border-radius: 24px;
  background-color: var(--s-color-background);

  box-shadow: inset 2px 2px 10px var(--s-color-surface-container-high);
  --border-color: var(--s-color-outline-variant);
  --border-width: 2px;
  right: 5px;
  --height: 41px;
  --padding: 72px;
  height: calc(100% - 10px);
  min-height: 0px;
  min-width: 155px;
  width: calc(30% + 5px);
  max-width: 305px;
}

.OO-setting-bar s-button:not([type='text']) {
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  border-color: var(--s-color-outline-variant);
  border-width: 2px;
  background-color: var(--s-color-surface-container-lowest);
  color: var(--s-color-on-surface);
}

.OO-setting-bar s-tooltip * {
  text-overflow: initial;
  overflow: visible;
}



/* -=========================shade box */

.OO-shade-box {
  box-shadow: inset 2px 2px 10px var(--s-color-surface-container-high);
  border-color: var(--s-color-outline-variant);
  border-width: 2px;
  background-color: var(--s-color-background);
  color: var(--s-color-on-surface);

  --border-color: var(--s-color-outline-variant);
  --border-width: 2px;
  --border-radius: 20px;
}