@font-face {
  font-family: "Impact";
  src: url(./fonts/zzz-eng.TTF) format("truetype");
  font-weight: normal
}

@font-face {
  font-family: "hongmengti";
  src: url(./fonts/zzz-chs.ttf) format("truetype");
  font-weight: bold
}

.font-num {
  font-family: Impact, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif;
  font-weight: 100;
}

.font-hongmeng {
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif;
  font-weight: 1000;
  font-size: 0.93em;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

p {
  height: fit-content;
  width: fit-content;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--s-color-outline-variant, #c1c7ce);
  border-radius: 3px;
  transform: translateX(-10px);

}

html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

:not(:defined) {
  display: none;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  height: 100%;
  background-image: url(./src/assets/background.png);
  background-size: cover;
}